#login {
    margin-right: 3vh;
}

#login:hover{
    color:rgb(147, 147, 147);
}

.logout:hover{
    color:rgb(147, 147, 147);
}

.register-button:hover{
    color: rgb(147, 147, 147);
}

.logout-btn {
    padding: 20px;
    background-color: #52525B;
    border-radius: 40px;
    margin-left: 6vh;
    font-size: 2vh;
    font-weight: bold;
}

.logout-btn:hover{
   background-color: #008181;
   color: black;
}

.update-account{
    padding: 20px;
    background-color: #52525B;
    border-radius: 40px;
    margin-left: 3vh;
    margin-top: 6vh;
    font-size: 2vh;
    font-weight: bold;
}

.update-account:hover{
    background-color: #008181;
   color: black;
}

.update-dialog-title{
    margin-top: 6vh;
    margin-left: 2vh;
    margin-bottom: 6vh;
    font-size: 3vh;
}

.dialog{
    margin-left: 2vh; 
    font-size: 2vh;
}

.new-password-input{
    margin-left: 20px;
    border: solid 2px black;
}

.new-name-input{
    margin-left: 50px;
    border: solid 2px black;
}


.update{
    padding: 10px;
    background-color: #52525B;
    border-radius: 40px;
    margin-top: 4vh;
    margin-right: 10px;
}

.cancel{
    padding: 10px;
    background-color: #52525B;
    border-radius: 40px;
    margin-top: 4vh;
}

.update:hover{
    background-color: #008181;
   color: black;
}

.cancel:hover{
    background-color: #008181;
   color: black;
}

.login-title{
    font-size: 3vh;
    margin:4vh;
}

.register-here-btn{
    padding: 10px;
    background-color: #008181;
    border-radius: 40px;
    margin-left: 6vh;
    margin-right: 6vh;
    margin-bottom: 1vh;
    font-size: 1.5vh;
    font-weight: bold;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.register-here-btn:hover{
    background-color: #52525B;
   color: black;
}

.submit-btn{
    padding: 10px;
    background-color: #008181;
    border-radius: 40px;
    margin-left: 6vh;
    margin-right: 6vh;
    margin-bottom: 1vh;
    font-size: 1.5vh;
    font-weight: bold;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
}

.submit-btn:hover{
    background-color: #52525B;
   color: black;
}

.error-text{
 margin-left: 1vh;
}

.password-label{
 margin-left: 3vh;
 margin-right: 5.5vh;
}

.email-label{
    margin-left: 3vh;
    margin-right: 2vh;
}

.email-input{
    border: solid 2px black;
}

.password-input{
    border: solid 2px black;
}
