#start-workout{
    margin-top: 1vh;
    padding: 3vw;
}

.search{
    padding:3vw;
}

#create-search{
    margin-left: 3vw;
    margin-right:2vw;
    margin-top: 3vh;
}

.save-workout{
    margin-bottom: 1vh;
}

.save-workout:hover{
    color: rgb(147, 147, 147);
}

.create-new-workout:hover {
    color: rgb(147, 147, 147);
}

.see-stats:hover{
    color: rgb(147, 147, 147);
}

.new-search:hover {
    color: rgb(147, 147, 147);
}
